


@font-face{
    font-family: 'HomeVideo';
    src: local("HomeVideo"),
    url('fonts/HomeVideo-Regular.otf') format("woff"),
    url('fonts/HomeVideo-Regular.otf') format("woff2");
}



@font-face{
    font-family: 'DigitalPixel';
    src: local("DigitalPixel"),
    url('fonts/vtcorona.ttf') format("woff"),
    url('fonts/vtcorona.ttf') format("woff2");
}



.logofont{
    text-align: left;
    font-size: 65px;
    padding: 12px;
    padding-bottom: 0px;
    padding-left: 20px;
    font-family: "HomeVideo" ;
    color: aliceblue;
    margin-bottom: 0px;
    margin-top: 0px;
}




.mytext
{
    text-align: left;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 50px;
    font-family: "DigitalPixel" ;
    color: rgba(240, 248, 255, 0.619);
    margin-top: 0px;
    text-decoration: none;
}


.articleText
{
    text-align: left;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 50px;
    font-family: "DigitalPixel" ;
    color: rgba(240, 248, 255, 0.619);
    margin-top: 0px;
    text-decoration: none;
}



.panelDes
{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2%;
    margin-bottom: 10px;
    --aug-border-bg: rgba(240, 255, 255, 0.333);
    --aug-br: 40px;
    --aug-border-all: 2px;
    --aug-inlay-bg: rgba(0, 0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.259); 
}
.panelArt
{
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2%;
    margin-bottom: 20px;
    width: 93%;
    height: 100%;
    --aug-border-bg: rgba(240, 255, 255, 0.333);
    --aug-br: 80px;
    --aug-border-all: 2px;
    --aug-br: 25px;
    --aug-br-inset1: 40%;
    --aug-inlay-bg: rgba(0, 0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.259); 
}




.BaseArticleTextStyle
{
    text-align:left;
		font-size: 25px;
		padding-left: 20px;
    padding-right: 10px;
    padding-top: 0px;
    font-family: "DigitalPixel" ;
    color: rgb(189, 189, 189);
    margin-top: 0px;
    overflow-wrap: anywhere;
    hyphens: ru;
}

.content
{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    margin: 2%;
   /* background-color: rgb(67, 67, 67, 0.9); rgb(51, 51, 52);
    */
    background-image: url("../style/background/SB001.JPG");
    min-height: 400px;
    /* */
    max-width: 900px;
    height: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    border-radius: 15px;
    
}




